
    <h1 id="homeTitle">Welcome to My Cruddy Life</h1>

<div id="homeDiv">
    <h2>What would you like to see first?</h2>
    <h3> <a href="/dinos" class="red">DINOSAURS</a> or <a href="/cryptids" class="red">CRYPTIDS</a></h3>
</div>