<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>CRUDDY DINOS</title>
</head>
<body>
    <header>
        <nav>
                <a href="/" id="navLink">Home</a> |
                <a href="/dinos">Show All Dinos</a> |
                <a href="/dinos/new">Add a Dino</a> |
                <a href="/cryptids">Show All Cryptids</a> |
                <a href="/cryptids/new">Add a Cryptid</a>
        </nav>
    </header>
    <%- body %>
</body>
</html>