<h2>Add A New Cryptid!</h2>

<form action="/cryptids" method="POST">
    <label for="cryp-name">Name:</label>
    <input type="text" name="name" id="cryp-name">
    <label for="cryp-img">Image URL:</label>
    <input type="text" name="img_url" id="cryp-img">
    <input type="submit" value="Add that CRYPTID!">
</form>